.col1 {
    width: 6%;
    float: left;
}

.col11 {
    width: 94%;
    float: left;
}

.clr1 {
    color: #333;
}

.clr2 {
    color: #aaa;
}

.clr3 {
    color: #555;
}

.noComment {
    font-size: 32px;
    color: #aaa;
    margin: 110px auto;
    text-align: center;
    font-weight: 200;
}

.imgSvg {
    vertical-align: middle;
    margin-right: 5px;
    color: #28a745;
}

.whiteInfo {
    vertical-align: bottom;
    font-weight: bold;
}

.avatarImg {
    max-width: 48px;
    border-radius: 3px;
}

.boldTxt {
    font-weight: bold;
}

.pageSubHeading {
    text-transform: capitalize;
}

.issueDetails {
    display: inline-grid;
}

.issueSub {
    font-size: 12px;
    color: #767676;
}

.pageHeading {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

h2 {
    font-size: 32px;
    font-weight: normal;
    margin: 10px 0;
}

h3 {
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
}

a {
    color: #333;
    text-decoration: none;
}

.pageContainer {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-bottom: 15px;
}

.headingBlock {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}

.heading {
    font-size: 14px;
    margin: 0;
}

.relative {
    position: relative;
}

select {
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.issueItem {
    border-bottom: 1px solid #e5e5e5;    
    padding: 15px;
}

.stateOpen {
    background-color: #6cc644;
    padding: 4px 8px;
    font-weight: 600;
    color: #fff;
    border-radius: 3px;
    margin-right: 5px;
}

.stateClose {
    background-color: #bd2c00;
    padding: 4px 8px;
    font-weight: 600;
    color: #fff;
    border-radius: 3px;
    margin-right: 5px;
}

.fontLight {
    font-weight: 200;
}